<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.entopix.maui">
    <Appenders>
        <!-- Console Appender for printing to stdout -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Log all com.entopix.maui classes at INFO level -->
        <Logger name="com.entopix.maui" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <!-- Root logger configuration -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
